header {
    padding: 20px 0px;
    border-bottom: 1px solid rgb(59, 59, 59);
        .container.menu {
            nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .box-menu {
                    display: flex;
                    gap: 32px;
                        ul {
                        display: flex;
                        align-items: center;
                        gap: 40px;
                            li {
                                color:#F5F6FA;
                                font-size: 16px;
                                letter-spacing: -0.48px;
                            }
                        }
                        button {
                            display: flex;
                            width: 176px;
                            height: 48px;
                            padding: 16px 24px;
                            justify-content: center;
                            align-items: center;
                            gap: 8px;
                            color: #0A0B0D;
                            font-size: 15px;
                            font-weight: 600;
                            line-height: 100%; 
                            letter-spacing: -0.48px;
                            background-color: #F67ACB;
                            }
                }
            }
        }
}

.s-hero {
    height: 1062px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        width: 100%;
        height: 220px;
        background-color: #F67ACB;
        display: block;
        position: absolute;
        bottom: 0px;
        z-index: -1;
    
    }
    .container {
        padding-bottom: 64px;
        .info {
            width: 100%;
            max-width: 719px;
            height: 308px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            margin-top: 113px;
            
            h1 {
                
                color: var(--color-gray-100, #F5F6FA);
                text-align: center;
                font-family: 'Sora',sans-serif;
                font-weight: 600;
                line-height: 120%;
                letter-spacing: -1.68px;
            }
            p {
                width: 100%;
                max-width: 556px;
                color:#C0C3CC;
                text-align: center;
                font-size: 18px;
                line-height: 150%;
                letter-spacing: -0.54px;   
                margin-top: 24px; 
            }
            button {
                display: flex;
                height: 64px;
                padding: 16px 24px;
                justify-content: center;
                align-items: center;
                color: #0A0B0D;
                font-family: 'Inter', sans-serif;
                font-size: 18px;
                font-weight: 600;
                line-height: 100%; 
                letter-spacing: -0.54px;
                background-color: #F67ACB;
                margin-top: 32px;
                cursor: pointer;
            }
        }
    }
    img {
        width: 100%;
        max-width: 1388px;
        height: 650px;
        align-items: center;
        margin: 0 auto;
        padding: 0px 15px;
    }
}

.digital {
    width: 100%;
    height: 597px;
    padding: 128px 0px;
        .container.itens {
            h3 {
                width: 100%;
                max-width: 534px;
                text-align: center;
                align-items: center;
                margin: 0 auto;

            }
        }
            .cards {
                border-bottom: solid 1px #393B42;
                padding-bottom: 128px;
                display: flex;
                gap: 32px;
                margin-top: 64px;
            }
                .impacto {
                    width: 100%;
                    max-width: 384px;
                    img {
                        margin-bottom: 26px;
                    }
                    h6 {
                        margin-bottom: 8px;
                    }
                    p {
                        width: 274px;
                    }
                }
                .nav {
                    width: 100%;
                    max-width: 384px;
                    img {
                        margin-bottom: 26px;
                    }
                    h6 {
                        margin-bottom: 8px;
                    }
                    p {
                        width: 314px;
                    }
                }
                .performace {
                    width: 100%;
                    max-width: 384px;
                    img {
                        margin-bottom: 26px;
                    }
                    h6 {
                        margin-bottom: 8px;
                    }
                    p {
                        width: 319px;
                    }
                }
}

.domine {
    width: 100%;
    height: 1186px;
        .container.itens {
            margin-top: 64px;
            .top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 64px;
                .esquerda {
                    width: 539px;
                    h3 {
                        letter-spacing: -1.2px;
                        margin-bottom: 16px;
                    }
                    p {
                        width: 452px;
                    }
                }
                .direita {
                    width: 429px;
                }
            }
            .bot {
                display: grid;
                grid-template-areas: "primeiro primeiro segundo"
                "terceiro quarto quinto";
                gap: 20px;
                .card {
                    width: 100%;
                    max-width: 800px;
                    max-height: 358;
                    height: 100%;
                    background-color: #787C87;
                    border: 2px solid #ffffff14;
                    background:rgba(255, 255, 255, 0.02);
                    padding:24px;
                        .tag {
                            display: inline-block;
                            color: var(--color-gray-100, #F5F6FA);
                            text-align: center;
                            font-family: 'Sora', sans-serif;
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 100%; 
                            letter-spacing: 1.26px;
                            text-transform: uppercase;
                            background-color: #F67ACB;
                            padding: 8px 24px;
                            border-radius: 100px;
                            background: rgba(255, 255, 255, 0.10);
                    }
                    img {
                        align-items: center;
                        margin: 0 auto;
                        margin-top: 46px;
                        margin-bottom: 64px;
                    }
                    p {
                        font-size: 16px;
                        line-height: 150%; 
                        letter-spacing: -0.48px;
                        width: 100%;
                        max-width: 482px;
                        margin-top: 8px;
                    }
                }
                .card.primeiro {
                    grid-area: primeiro;
                }
                .card.segundo {
                    grid-area: segundo;
                }
                .card.terceiro {
                    grid-area: terceiro;
                }
                .card.quarto {
                    grid-area: quarto;   
                }
                .card.quinto {
                    grid-area: quinto;
                }
            }
        }
}

.descomplicado {
    padding-top: 89px;
    width: 100%;
    height: 464px;
    background-color: #F67ACB;
    .container {
        display: flex;
        flex-direction: column;
        h2 {
            color: var(--color-gray-100, #F5F6FA);
            text-align: center;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            letter-spacing: -1.44px;
            width: 100%;
            max-width: 646px;
            text-align: center;
        }
        p {
            margin-top: 16px;
            width: 100%;
            max-width: 687px;
            text-align: center;
            color: var(--color-gray-100, #F5F6FA);
            font-size: 22px;
            line-height: 150%;
            letter-spacing: -0.66px;
        }
        button {
            margin-top: 24px;
            color:#0A0B0D;
            font-family: 'Sora',sans-serif;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: -0.54px;
            height: 64px;
            padding: 16px 24px;
            gap: 8px;
        }
    }
}

footer {
    width: 100%;
    height: 390px;
    .container.itens {
        padding: 48px 0px 64px 0px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-bottom: solid 1px #ffffff3d;
        .esquerda {
            p {
                width: 279px;
                color:#787C87;
                font-size: 16px;
                line-height: 150%; 
                letter-spacing: -0.48px;
                margin-top: 24px;
            }
        }
        .direita {
            gap: 112px;
            display: flex;

            .paginas, .solucoes, .contato, .rede-social {
                display: flex;
                flex-direction: column;
                gap: 32px;
                color:#787C87;
                font-size: 16px;
                letter-spacing: -0.48px;
            }
            .rede-social {
                li {
                    display: flex;
                    gap: 16px;
                }
            }
            .titulo {
                color:#F5F6FA;
                font-weight: 600;
                line-height: 120%; 
                letter-spacing: -0.48px;
            }
            }
    }
    .container {
    padding: 0px;
    margin-top: 24px;
}
}